.character-card {
  background-color: white;
  padding: 15px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
   
.character-card img {
    width: 100%;
    border-radius: 8px;
}
   
.character-card h3 {
    margin: 10px 0;
}
   
.character-card a {
    color: #007bff;
    text-decoration: none;
}