
.navbar {
    background-color: rgb(112, 13, 116);;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.search-link{
    color: aliceblue;
}

.nav-link {
    color: white;
    text-decoration: none;
}
